
$color_fondo: rgb(217, 217, 217);
$color_titulo: rgba(248, 117, 22, 1);
$color_subtitulo: white;
$color_fondo2: rgba(24, 45, 152, 1);

$color_texto: white;
$color_boton: #da962f;
$color_medio: rgba(24, 45, 152, 1);
$color_footer: rgba(24, 45, 152, 1);

$color_hover: black;
$color_sombra: black;
$color_sombra2: gray;

$color_hover2: rgba(24, 45, 152, 1);

$color_asterico: red;
$color_borde: #ccc;
$color_texto2: #182c97;
$color_boton: rgba(219, 150, 47, 1);