/***** UNIDADES ******/

.unidades1{
    width: 100%;
    display: grid;
    gap: 10%;
    margin-bottom: 10%;
    grid-template-columns:repeat(2, 30rem);
    grid-template-rows: repeat(3, 14rem);
    position: relative;
    justify-content: center;
    button{    
        background-size: cover;
        border-radius: 2rem;
        font-family: fuente2;
        font-size: 3rem;
        color: $color_texto;
        text-shadow: $color_sombra2 0.125rem 0.1rem;
        &:first-child{
            background-image: url("../assets/img/rrhh.PNG");
            grid-column: 1/2;
            grid-row: 1/2;
        }
        &:nth-child(2){ 
            background-image: url("../assets/img/finanzas.png");
            grid-column: 2/3;
            grid-row: 1/2;
        }
        &:nth-child(3){ 
            background-image: url("../assets/img/uravit.png");
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &:nth-child(4){ 
            background-image: url("../assets/img/custodia.png");
            grid-column: 2/3;
            grid-row: 2/3;
        }
        &:nth-child(5){ 
            background-image: url("../assets/img/comunicaciones.png");
            grid-column: 1/2;
            grid-row: 3/4;
        }
        &:last-child{ 
            background-image: url("../assets/img/informatica.png");
            grid-column: 2/3;
            grid-row: 3/4;
        }
            &:hover{
                @include anim1(scale(1.1),drop-shadow(3px 3px 3px $color_sombra2),transform 300ms linear 100ms,center);
            }
    
    }
}
