    /* navbar */
    @media (max-width:1280px) {
        header{
            .logo {
                img {
                width: 5rem;
                }
            }
            .lupa {
                img {
                width: 2rem;
                }
            }
            nav ul {
                order: 2;
                padding-bottom: 2%; 
                    a {
                    text-align: left;
                    font-size: 1.4rem;
                    padding: 0.75rem;
                }
            }
        }
    }
    
    /* titulo */
    @media (max-width:1280px) {
        .titulo 
            h1{
            font-size: 2.3rem;
            }
            h2{
            font-size: 2rem;
            }
        }
    
    /* servicios 1*/
    @media (max-width:1280px) {
        .servicios1{
            gap: 5rem;
            grid-template-columns:repeat(2, 20rem);
            grid-template-rows: repeat(2, 10rem);
            button{
                font-size: 1.6rem;
            }
        }
    }
    
    /* seccion media */
    @media (max-width:1280px){
        .medio{
            font-size: 1.6rem;
        }
    }
    
    /* servicios 2 */
    @media (max-width:1280px) {
        .servicios2{
            grid-template-columns:repeat(2, 15rem);
            grid-template-rows: repeat(3, 7rem);
            justify-content: center;
            gap: 2rem 8rem;
            padding: 2%;
            button{
            font-size: 1.3rem;
            border-radius:2rem;
            }
        }
    }
    
    /* footer */
    @media (max-width:1280px) {
        footer p{
            font-size: 1.1rem;
            padding: 2%;
        }
    }
    
    /***** UNIDADES ******/
    @media (max-width:1280px) {
        .unidades1{
            grid-template-columns:repeat(2, 18rem);
            grid-template-rows: repeat(3, 9rem);
            gap: 2rem 8rem;
            button{
                font-size: 1rem;
            }  
        }
    }
        
    /***** INVENTARIO ******/
    @media (max-width:1280px) {
        .ingreso{
            gap: 4rem;
            margin-bottom: 4rem;
            grid-template-columns:repeat(2, 18rem);
            grid-template-rows: repeat(2, 6rem);
            button{
                font-size: 1.2rem;
            }
        }
    }
    
    /***** PROCEDIMIENTOS ******/
    @media (max-width:1280px) {
        .documentos{
            margin-top: 2rem;
            grid-template-columns:repeat(2, 17rem);
            grid-template-rows: repeat(3, 6rem);
            button{
                font-size: 1rem;
                &:hover{
                    @include anim3((width 2s, height 2s, margin 2s),100%,120px,-5% auto,$color_sombra2,$color_sombra,1.2rem)
                }
            }
        }
    }
    
    /***** CONTACTOS ******/
    @media (max-width:1280px) {
        .container label {
            font-size: .9rem;
            button {
                font-size: 1rem;
                padding: 0.5rem;
            }
        }
        .form-label p{
            font-size: .8rem;
        }
    }