    /* navbar */
    @media (max-width:2560px) {
        header{
            .logo {
                img {
                width: 10rem;
                }
            }
            .lupa {
                img {
                width: 6rem;
                }
            }
            nav ul {
                order: 2;
                padding-bottom: 2%; 
                    a {
                    text-align: left;
                    font-size: 1.8rem;
                    padding: 4rem;
                }
            }
        }
    }
    
    /* titulo */
    @media (max-width:2560px) {
        .titulo 
            h1{
            font-size: 3.5rem;
            }
            h2{
            font-size: 2.4rem;
            }
        }
    
    /* servicios 1*/
    @media (max-width:2560px) {
        .servicios1{
            gap: 8rem;
            grid-template-columns:repeat(2, 26rem);
            grid-template-rows: repeat(2, 12rem);
            button{
                font-size: 1.6rem;
            }
        }
    }
    
    /* seccion media */
    @media (max-width:2560px){
        .medio{
            font-size: 1.6rem;
        }
    }
    
    /* servicios 2 */
    @media (max-width:2560px) {
        .servicios2{
            grid-template-columns:repeat(2, 18rem);
            grid-template-rows: repeat(3, 7rem);
            justify-content: center;
            gap: 2.2rem 12rem;
            button{
            font-size: 1.3rem;
            border-radius:2rem;
            }
        }
    }
    
    /* footer */
    @media (max-width:2560px) {
        footer p{
            font-size: 1.1rem;
            padding: 2%;
        }
    }
    
    /***** UNIDADES ******/
    @media (max-width:2560px) {
        .unidades1{
            gap: 2rem 8rem;
            grid-template-columns:repeat(2, 22rem);
            grid-template-rows: repeat(3, 9rem);
            margin-bottom: 2rem;
            button{
                font-size: 1.4rem;
            }  
        }
    }
        
    /***** INVENTARIO ******/
    @media (max-width:2560px) {
        .ingreso{
            gap: 4rem 20rem;
            margin-bottom: 4rem;
            grid-template-columns:repeat(2, 20rem);
            grid-template-rows: repeat(2, 10rem);
            button{
                font-size: 1.4rem;
            }
        }
    }
    
    /***** PROCEDIMIENTOS ******/
    @media (max-width:2560px) {
        .documentos{
            gap: 3rem 10rem;
            margin-bottom: 3rem;
            grid-template-columns:repeat(2, 28rem);
            grid-template-rows: repeat(3, 10rem);
            button{
                font-size: 1.2rem;
            }
        }
    }
    
    /***** CONTACTOS ******/
    @media (max-width:2560px) {
        .container label {
            font-size: 3rem;
            button {
                font-size: 4rem;
            }
        }
        .form-label p{
            font-size: 3rem;
        }
    }